[submodule "CUDA/custoch"]
	path = CUDA/custoch
	url = https://github.com/MarcinBaranek/custoch
[submodule "LeetCode"]
	path = LeetCode
	url = git@github.com:MarcinBaranek/LeetCode.git
[submodule "AdventOfCode"]
	path = AdventOfCode
	url = git@github.com:MarcinBaranek/AdventOfCode.git
[submodule "Patchwork"]
	path = Patchwork
	url = git@github.com:MarcinBaranek/Patchwork.git
[submodule "python_contest"]
	path = python_contest
	url = git@github.com:MarcinBaranek/python_contest.git
